<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Running Successfull</title>
    <style>
      .container{
        min-height: 30vh;
        background: #f5f7f6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 61px auto;
        border-radius:12px;
      }
      .chats{
        align-items: flex-start;
        flex-direction: column;
      }
      hr {
        margin-left:0;
        margin-right: 0;
        width:100%;  
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ChatGPT API</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
     
        
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <h1 class="text-center my-2 py-2"> Welcome to Voice Genius</h1>
    <div class="container py-12">
      <button id = "start" type="button" class="btn btn-success mx-2">Start</button>
<button type="button" class="btn btn-danger mx-2">Stop</button>
    </div>
    <div class="container chats">
        <h2> Your Responces </h2>
          <div> Question: Your Question </div>
          <div> Answer: Response will appear here </div>
      <hr> 
    </div>
      
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      async function postData(url = "", data = {}) {
        const response = await fetch(url, {
          method: "POST", 
          mode: "cors", 
          cache: "no-cache",
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json",
          },
          redirect: "follow",
          referrerPolicy: "no-referrer", 
          body: JSON.stringify(data),
        });
        return response.json(); 
      }
      const PopulateUsingGPT = (input) => {
        postData("/api", { input: input }).then((data) => {
          document.querySelector(".chats").innerHTML = document.querySelector(".chats").innerHTML + `<div> Question: ${input}</div>
          <div> Answer: ${data.message}</div>
          <hr>`
        });
      }
      let Speech = true;
      let globalTranscript;
      window.SpeechRecognition = window.SpeechRecognition 
        || window.webkitSpeechRecognition
      const recognition = new SpeechRecognition();
      recognition.addEventListener('result' , e => {
        const transcript = Array.from(e.results)
        .map(result => result[0])
        .map(result => result.transcript)
        .join('')

      globalTranscript = transcript
      });
    
start.addEventListener ("click" , ()=> {
  if(Speech == true) {
  recognition.start();
  recognition.addEventListener('end', () => {
    console.log(globalTranscript)
   
    if(globalTranscript !== ""){
      PopulateUsingGPT(globalTranscript)
    } 
    globalTranscript = ""
  });
}
  });
    </script>
  </body>
</html>